        h1 {
            background-color: orange;
            height: 300px;
            padding: 10px;
            width: 300px;
            border: 10px solid green;
            border-radius: 15px;
            ;
        }
        
        h2 {
            background-color: pink;
            width: 300px;
            border: 2px solid blue;
            margin: 10px;
        }
        
        p {
            background-color: blue;
            color: antiquewhite;
            border: 5px solid rgb(49, 79, 4);
            margin: 20px;
            padding: 5px;
        }