    * {
        margin: 0;
        padding: 0;
    }
    
    h1 {
        background-color: orange;
        height: 300px;
        padding: 10px;
        width: 300px;
        border: 10px solid green;
        border-radius: 15px;
    }
    
    span {
        color: blue;
        background-color: antiquewhite;
        border: 2px solid black;
    }