* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 200px;
    width: 800px;
    gap: 5px;
    font-size: 50px;
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width:900px) {
    .container {
        height: 400px;
        width: 400px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}