* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease;
    /* smooth effect */
    z-index: 10;
}

.nav-links a {
    position: relative;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 1px;
    background-color: currentColor;
    /* white / black auto */
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.menu-icon {
    color: white;
    transition: color 0.3s ease;
}

.navbar.scrolled {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-links a {
    color: black;
}

.logo img {
    height: 35px;
    transition: filter 0.3s ease;
}


/* DEFAULT: navbar transparent → logo WHITE */

.navbar .logo img {
    filter: invert(1) brightness(2);
}


/* SCROLLED: navbar white → logo BLACK */

.navbar.scrolled .logo img {
    filter: invert(0) brightness(1);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #f1eaea;
    font-size: 14px;
}

.menu-icon {
    display: inline;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.gallery-section {
    padding: 60px 80px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.gallery-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gallery-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.gallery-card:hover img {
    transform: scale(1.08);
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: #fff;
}

.overlay h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.overlay p {
    font-size: 12px;
    opacity: 0.8;
}

.footer-dark {
    background: #000;
    color: #fff;
    padding: 80px 100px 30px;
    z-index: -10;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 60px;
    align-items: start;
}

.footer-icon img {
    width: 40px;
    opacity: 0.8;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-heading {
    font-size: 12px;
    letter-spacing: 1px;
    color: #aaa;
}

.footer-heading.mt {
    margin-top: 25px;
}

.footer-col a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    width: fit-content;
}

.footer-col a:hover {
    text-decoration: underline;
}

.footer-col a.active {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 60px;
    padding-top: 20px;
    font-size: 13px;
    color: #ccc;
}

@media (max-width: 768px) {
    .gallery-section {
        padding: 40px 20px;
    }
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: black;
        flex-direction: column;
        width: 200px;
        display: none;
    }
    .nav-links a {
        padding: 15px;
    }
    .menu-icon {
        display: block;
    }
}

@media (max-width: 900px) {
    .footer-wrapper {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}