            /*Element Selector*/
            /*rgba() function to set background color with transparency*/
            
            h1 {
                background-color: rgba(153, 96, 106, 0.47);
            }
            
            h2 {
                background-color: hsl(110, 20%, 40%);
                /*hsla() function to set background color with transparency*/
            }
            
            ul {
                background-color: aquamarine;
            }
            /*ID Selector*/
            
            #first {
                background-color: red;
            }
            /*Class Selector*/
            
            .bgmi {
                background-color: lightblue;
            }
            
            li {
                font-size: 1em;
                /*em unit for font size compare with parent*/
            }
            
            h2 {
                font-size: 1.5rem;
                /*rem unit for font size compare with root element*/
            }
            
            h2 {
                font-size: 24vw;
                /*vw unit for font size relative to viewport width*/
            }
            
            h2 {
                font-size: 24vh;
                /*vh unit for font size relative to viewport height*/
            }